* {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

.default_section {
  width: 100%;
  max-width: 1196px;
  display: block;
  height: 500px;
  max-height: 500px;
  margin: 50px auto 50px auto;
}

.hero {
  width: 100%;
  background-color: #E9E4E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 59px;
}

.hero p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140.62%;
  /* or 25px */
  text-align: center;
}

.gradient_title {
  font-size: 50px;
  color: rgba(0, 0, 0, 0);
  margin-bottom: 19px;
  font-family: Post No Bills Colombo;
  font-weight: bold;
  line-height: 75px;
  background: -webkit-gradient(linear, left top, right top, color-stop(23.5%, #4CBF34), color-stop(73.62%, #73C4EE));
  background: linear-gradient(90deg, #4CBF34 23.5%, #73C4EE 73.62%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

.flex_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_section .e_waste_recycle {
  width: 100%;
  max-width: 950px;
  min-height: 200px;
}

.flex_section .icons {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 50px auto;
}

.flex_section .icon_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.flex_section .text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_section .text p {
  text-align: center;
  font-size: 18px;
  line-height: 140.62%;
  font-family: Robot;
}

.flex_section .text span {
  font-weight: bold;
}

footer {
  width: 100%;
  min-height: 260px;
  background: -webkit-gradient(linear, left top, right top, color-stop(23.5%, #4CBF34), color-stop(73.62%, #73C4EE));
  background: linear-gradient(90deg, #4CBF34 23.5%, #73C4EE 73.62%);
}

footer .container {
  width: 100%;
  max-width: 1196px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-height: 160px;
  margin-left: 25px;
}

footer .left #raw_materials {
  margin-bottom: 20px;
  max-width: 270px;
}

footer .left #eu_flag {
  max-width: 260px;
}

footer h3 {
  color: white;
  font-family: roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
}

footer .right_wrap {
  width: 470px;
  min-width: 350px;
  max-width: 470px;
  height: 160px;
  max-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 25px;
}

footer ul {
  padding: 0;
}

footer li {
  color: white;
  margin-bottom: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: 0.75;
  font-size: 20px;
  line-height: 23px;
}

footer .icon_row {
  max-width: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

/* ----> Responsive ----*/
@media only screen and (min-device-width: 360px) {
  .default_section {
    min-height: 375px;
    height: 375px;
  }
  #waste_section {
    height: 470px;
  }
  .gradient_title {
    font-size: 35px;
    line-height: 52px;
  }
  .hero p span {
    display: none;
  }
  .icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .icons_text_phone {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 140.62%;
    font-family: Robot;
    max-height: 75px;
  }
  .icons_text_phone span {
    font-weight: bold;
  }
  .icons_arrow {
    display: none;
  }
  .e_waste_recycle {
    min-height: 450px;
  }
  .e_waste_recycle .text {
    display: none;
  }
  footer .container {
    min-height: 220px;
  }
  footer .left {
    max-height: 220px;
    height: 300px;
    width: 100%;
    max-width: 500px;
  }
  #footer_right_content {
    display: none;
  }
  #raw_materials {
    max-width: 275px;
  }
  #eu_flag {
    width: 500px;
    max-width: 380px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-device-width: 768px) {
  footer .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .default_section {
    min-height: 450px;
    height: 450px;
  }
  #waste_section {
    height: 470px;
  }
  .hero p span {
    display: block;
  }
  .icons {
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
  .icons_text_phone {
    display: block;
  }
  .icons_arrow {
    display: none;
  }
  .e_waste_recycle {
    min-height: 450px;
  }
  .e_waste_recycle .text {
    display: none;
  }
  #footer_right_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #eu_flag {
    max-width: 257px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media only screen and (min-device-width: 1200px) {
  .default_section {
    min-height: 500px;
    height: 500px;
  }
  #waste_section {
    height: 500px;
  }
  .hero p span {
    display: block;
  }
  .icons {
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
  .icons_text_phone {
    display: none;
  }
  .icons_arrow {
    display: block;
  }
  .e_waste_recycle .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #footer_right_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #eu_flag {
    max-width: 257px;
  }
}
/*# sourceMappingURL=style.css.map */